<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">As a forward-thinking startup, we are dedicated to innovation and excellence in the maritime industry. Our comprehensive monitoring and optimization solution is poised to transform how vessels operate, leading to enhanced efficiency, reduced costs, and improved environmental compliance.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/thumbnail_cargo_ship_top_view_night.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mission statement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Empowering maritime operators to achieve operational excellence while minimizing environmental impact. We strive to deliver innovative, data-driven solutions that optimize vessel performance, reduce costs, and ensure compliance with regulatory standards.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/thumbnail_containers.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who we are</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our team of seasoned maritime experts, data scientists, and AI specialists, with years of experience in leading maritime companies, has come together to revolutionize the industry. Based in Holland, Portugal, and Switzerland, we leverage our unique blend of analytical, mathematical, and technical expertise to develop cutting-edge solutions. With a passion for innovation and a commitment to excellence, we're dedicated to transforming the future of maritime operations.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/thumbnail_engine_room.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What we do</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We provide a comprehensive vessel monitoring and optimization solution that empowers operators to make data-driven decisions. Our platform offers real-time insights into vessel performance, in-depth voyage analysis, event tracking, and AI-driven optimization recommendations. By harnessing the power of advanced analytics and artificial intelligence, we help maritime operators enhance efficiency, reduce costs, and ensure environmental compliance. Our flexible and customizable solution caters to the diverse needs of vessel operators, from small fleets to large shipping companies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join the                                     
                                <br>Maritime                                     
                                <br>Future</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
