<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">In the competitive maritime industry, optimizing vessel performance while minimizing costs is essential for success. Our advanced monitoring and optimization solution is designed to provide vessel operators and fleet managers with the tools they need to enhance operational efficiency, reduce expenses, and ensure compliance with environmental standards.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Observability</h4>
                    <p class="text-muted">Gain real-time visibility into your operations with our IoT sensor data platform. Collect and monitor data from across your organization, and get instant insights into performance, usage, and condition.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analysis</h4>
                    <p class="text-muted">Move from reactive to proactive with advanced analytics on your IoT data. Our platform applies machine learning and statistical techniques to identify trends, detect anomalies, and predict potential issues.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Optimization</h4>
                    <p class="text-muted">Transform insights into action with our optimization capabilities. Use data-driven recommendations to improve efficiency, reduce costs, and maximize performance.</p>
                </div>
            </div>
        </div>
    </section>
